<!--
 * @Author: viewdegree
 * @Date: 2020-02-16 00:29:38
 * @LastEditTime: 2020-02-16 00:30:32
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \入门篇\01-调用vue的cdn.html
 -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Document</title>
     <style>
        .li{
            color: red;
        }
     
     </style>
 </head>
 <body>
     <div id="app">{{msg}}
        <input type="text" v-model="info">
        <!-- v-on===@ -->
        <button @click="handleClick">添加</button>
        <ul>
            <!-- v-blind === :  数据绑定如果不写那么vue就拿不到前面的item--> 
            <todo-item v-for="item2 in list" :item="item2"></todo-item>
        </ul>
     </div>    
 </body>
 <!-- 调用vue的api -->
 <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
 <script>
     new Vue({
         el:'#app',//将vue实例挂载到节点上
         data(){     //输出数据
             return{
                 msg: 'hello greektime',
                 info:'',   //双向绑定
                 list: []
             }
         },
         methods:{
            handleClick(){
                 console.log(this.info);
                 this.list.push(this.info);
                 this.info = ""
             }
         }
     })
    //  自定义标签  vue组件
    Vue.component('todo-item',{
        template: '<li class="li">{{item}}</li>',
        props:['item']  //为了让template传到item上
    })


    /**
    Vue.component缺点
    1. 全局定义     强制要求每个component中的命名不能重复
    2. 字符串模板   缺乏语法高亮.在html有多行时,要用到丑陋的\转义
    3. 不支持css    意味着当html和js组件化时,css明显被遗漏,就是全局定义的css会被作用到组件生成的dom元素中
    4.没有构建步骤  限制只能使用html和es5,不能使用预处理器,如pug(formerly Jade)和Babel
    
    */

 </script>
 </html>