<!--
 * @Author: your name
 * @Date: 2020-02-18 17:32:46
 * @LastEditTime: 2020-02-19 00:33:59
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \vue\vue.js终极开发教程\4.怪物猎人游戏项目\index.html
 -->
<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <div id="app">
        <section class="overlay" v-if="showToast">
            <div class="toast">
                <p v-if="result">恭喜您赢了, 再来一局?</p>
                <p v-else>挑战失败, 再来一局?</p>
                <button @click="continueGame()">ok</button>
                <button @click="stopGame()">告辞</button>
            </div>
        </section>
        <section class="row">
            <div class="small-6 columns">
                <h1 class="text-center">YOU</h1>
                <div class="healthbar">
                    <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="playerlife">
                        {{life.player}}
                    </div>
                </div>
            </div>
            <div class="small-6 columns">
                <h1 class="text-center">MONSTER</h1>
                <div class="healthbar">
                    <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="monsterlife">
                            {{life.monster}}
                    </div>
                </div>
            </div>
        </section>
        <section class="row controls"  v-if="!gameStatus">
            <div class="small-12 columns">
                <button id="start-game" @click="starGame()">START NEW GAME</button>
            </div>
        </section>
        <section class="row controls" v-else>
            <div class="small-12 columns">
                <button id="attack" @click="attack()">ATTACK</button>
                <button id="special-attack" @click="special_attack()">SPECIAL ATTACK</button>
                <button id="heal" @click="heal()">HEAL</button>
                <button id="give-up"  @click="gameStatus=!gameStatus">GIVE UP</button>
            </div>
        </section>
        <section class="row log"  v-if="history.length>0">
            <div class="small-12 columns">
                <ul>
                    <template v-for="arr in history">
                        <template v-for="(value,key) in arr">
                            <!-- 注意这里template标签千万不能写成li,这样会自动输出两次,因为下的v-if不显示,那么v-else会自动寻到最近的则此时<li v-if="key === 'player'">就是最近的会自动输出两次 -->
                            <template v-if="key === 'player'">
                                <li class="player-turn" v-if="value > 0">
                                    PLAYER HITS MONSTER FOR {{value}}
                                </li>
                                <li class="player-turn" v-else>
                                    PLAYER HEALS HIMSELF FOR {{-value}}
                                </li>
                            </template>
                            <li class="monster-turn" v-if="key === 'monster'">
                                MONSTER  HITS PLAYER FOR {{value}}
                            </li>
                        </template>
                    </template>
                </ul>
            </div>
        </section>
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                showToast:false,
                gameStatus:false,
                life:{
                    player:100,
                    monster:100,
                },
                result:null, //true代表活着
                history:[]      //[{"player":num,"monster":num}]}
            },
            methods:{
                starGame:function(){
                    var vm = this;
                    vm.gameStatus=!vm.gameStatus;
                    vm.history = [];
                    vm.life.player = 100;
                    vm.life.monster = 100;
                },
                GetRandomNum:function(Min, Max) {
                    var Range = Max - Min;
                    var Rand = Math.random();
                    return(Min + Math.round(Rand * Range));
                },
                attack:function(){
                    var arr = {};
                    var vm = this;
                    var num = vm.$options.methods.GetRandomNum(7, 15);
                    vm.life.monster -= num;
                    arr["player"] = num;
                    num = vm.$options.methods.GetRandomNum(5, 10);
                    vm.life.player -= num;
                    arr["monster"] = num;
                    vm.history.unshift(arr);    //因为考虑到日志更新要放在新记录要在前面,所以采用倒序插入
                },
                special_attack:function(){
                    var arr = {};
                    var vm = this;
                    var num = vm.$options.methods.GetRandomNum(15, 20);
                    vm.life.monster -= num;
                    arr["player"] = num;
                    num = vm.$options.methods.GetRandomNum(7, 13);
                    vm.life.player -= num;
                    arr["monster"] = num;
                    vm.history.unshift(arr);
                },
                heal:function(){
                    var arr = {};
                    var vm = this;
                    vm.life.player += 10;   //当加血的时候为负值
                    arr["player"] = -10;
                    var num = vm.$options.methods.GetRandomNum(7, 13);
                    vm.life.player -= num;
                    arr["monster"] = num;
                    vm.history.unshift(arr);
                },
                continueGame:function(){
                    this.showToast = false;
                    this.starGame();
                },
                stopGame:function(){
                    this.showToast = false;
                    this.gameStatus = false;
                }
            },
            computed:{
                playerlife:function(){
                    var vm = this;
                    if(vm.life.player<=0){
                        vm.life.player=0;
                        vm.result = false;
                        vm.showToast = true;
                    }
                    return {
                        width:vm.life.player>0?vm.life.player+"%":"0",
                        color: vm.life.player>=0?'#fff':'#f00'
                    }
                },
                monsterlife:function(){
                    var vm = this;
                    if(vm.life.monster<=0){
                        vm.life.monster=0;
                        vm.result = true;
                        vm.showToast = true;
                    }
                    return {
                        width:vm.life.monster>0?vm.life.monster+"%":"0",
                        color: vm.life.monster>=0?'#fff':'#f00'
                    }
                }
            }
        })
    </script>
</body>
</html>